@media screen and (max-width:900px) 
{
    .container{
        width: 320px;
        height: 80px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .clock{
        width: 100%;
        height: 100%;
        background: rgba(46, 6, 49, 0.32);
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(30px);
        border: 1px solid #ffffff48;
        position: relative;
    
    }

    .clock span{
        font-size: 30px;
        font-weight: 500;
        display: inline;
        text-align: center;
        position: relative;
    }

    .dm{
        font-size: 20px;
        font-weight: 500;
        display: flex;
        position: absolute;
        top: 220px;
        left: 50%;
        transform: translate(-50%);
        color: #dbdbdb;
    }

    .clock span::after{
        font-size: 8px;
        position: absolute;
        bottom: -12px;
        left: 50%;
        transform: translate(-50%);
    }

    #ampm {
        font-size: 15px;
        font-weight: 700;
        position: absolute;
        bottom: 25px;
        right: 60px;
    }

    .container::before{
        content: '';
        width: 70px;
        height: 70px;
        background: #f4e21b;
        border-radius: 50%;
        position: absolute;
        left: 20px;
        top: -20px;
        z-index: -1;
    }
    
    .container::after{
        content: '';
        width: 70px;
        height: 70px;
        background: #ff3c3c;
        border-radius: 50%;
        position: absolute;
        right: 20px;
        bottom: -20px;
        z-index: -1;
    }

    .dm{
        font-size: 15px;
        font-weight: 400;
        display: flex;
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translate(-50%);
        color: #dbdbdb;
    }

    .dm span {
        margin: 2px;
    }
    
}
